#leyenda {
    color: #222;
    font-family: Georgia, Times, serif;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 10px;
    border-bottom: 5px solid #bfbfbf;
    margin-bottom: 10px;
  }
  
  th[rowspan] {
    font-family: Georgia, Times, serif;
    font-size: 11px;
    writing-mode: vertical-lr;
    padding-right: 15px;
  }
  
  .separador > td {
    border-top: 1px solid #bfbfbf;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
  th {
    font-size: 15px;
    text-align: left;
  }
  td {
    padding-right: 20px;
    font-size: 10px;
    line-height: 2;
  }
  tr:nth-child(2n+1) > td {
    background: #eee;
  }
  